<%= render "shared/second-header"%>
<div class="dictionary-show-page">
  <div class="content-show">
    <h2 class="contents-list-main">
      <%= @content.phrase %>
    </h2>
    <div class="contents-list">
      <h3 class="content-mean">
        <p>『 意味・説明 』</p>
        <%= @content.content_mean %>
      </h3>
      <h5 class="phrase_reference">
        <p>『 参照したサイトURl、参考書、その他メモ等 』</p>
        <%= @content.phrase_reference %>
      </h5>
    </div>
  </div>
  <div class="dictionary-edit-btn">
    <% if current_user.id == @dictionary.user_id %>
      <%= link_to " 編集する ", edit_dictionary_content_path(@dictionary.id, @content), class:"content-edit-btn" %>
      <%= link_to " 削除する ", dictionary_content_path(@dictionary, @content), method: :delete, class:"destroy-btn" %>
    <% end %>
    <%= link_to " 戻る ", dictionary_path(@dictionary), class:"back--btn" %>
  </div> 
</div>