<%= render "shared/header" %>
<div class='main'>
  <div class='title-contents'>
    <h2 class='top-page-title'>
      オリジナルの辞書を作成して出版(Edition)しよう！
    </h2>
    <p class='top-page-text'>
      自分好みのワードを追加していこう！
    </p>
    <p class='top-page-text'>
      いいねが増えると出版できる！
    </p>
  </div>
  <div class='main-image'>
      <%= image_tag "ELL75_yousyohondana20120620_TP_V.jpg", class:"main-pict" %>
      <%= image_tag "people-4050698_1920.jpg", class:"main-pict" %>
  </div>
  <div class='dictionary-contents'>
    <h2 class='title'>投稿辞書一覧</h2>
    <%= link_to 'NEW', new_dictionary_path, class: "subtitle" %>
    <ul class='dictionary-lists'>
      <% if @dictionaries.present? %>
        <% @dictionaries.each do |dictionary| %> 
          <li class='list'>
            <%= link_to "#{dictionary.name}", dictionary_path(dictionary) %>
            <div class='dictionary-category'>
                <span><%= dictionary.category.category %></span>
                <div class='heart-btn'>
                  <%= image_tag "heart.png", class:"heart-icon" %>
                  <span class='heart-count'><%= dictionary.likes.count %></span>
                </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="create-new-dictionary">
    <%= link_to "create new", new_dictionary_path,  class: 'new-create-btn' %>
  </div>
</div>